@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
    }
}
@keyframes moveInDown {
    from{
        transform: translateY(-40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInUp {
    from{
        transform: translateY(40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInLeft {
    from{
        transform: translate(40em);
    }
    to{
        transform: translate(0em);
    }
}
@keyframes moveInRight {
    from{
        transform: translate(-40em);
    }
    to{
        transform: translate(0em);
    }
}

/*Fin de animaciones*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation-name: fadeIn;
    animation-duration: 1s;
    scroll-behavior: smooth;
} 
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
:root{
    --colorPrimario: #383838;
    --colorPrimarioT: rgba(56, 56, 56, 0.9);

    --colorEnPrimario: #FFFFFF;
    --colorEnPrimarioT: rgba(232, 232, 232, 0.3);
    
    --colorSecundario: #424443;
    --colorSecundarioT: rgba(66, 68, 67, 0.9);

    --blanco: rgb(255, 255, 255);
}

/*Fin de estilos generales*/

header {
    width: 100vw;
    height: 10vh;
    background-color: var(--colorSecundario);
}
.top-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.top-bar * {
    max-height: 90%;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--colorEnPrimario);
}

/*Estilos de main*/

main {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var(--colorPrimario);
    margin: 0 auto;
}
.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem auto;
    width: 100vw;
}
.widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    margin: 3rem auto;
    padding: 2rem;
    background-color: var(--colorSecundario);
    border-radius: 5%;
}
.wtop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 1px solid var(--colorEnPrimarioT);
    color: var(--colorEnPrimario);
    margin: 1rem;
}
.wmain {
    margin: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.link {
    display: flex;
    flex-direction: row;
    justify-content: start;
    transition: all 0.5s;
}
.link * {
    margin: 0.5rem 2rem;
    color: var(--colorEnPrimario);
    font-size: 1.2rem;
    transition: all 0.5s;
}
.link input {
    cursor: pointer;
    margin: 0.5rem 0;
    width: 1.5rem;
    transition: all 0.5s;
}
.link input:hover {
    width: 1.6rem;
    height: 1.6rem;
}
.link img {
    width: 1rem;
}
.link:hover {
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: var(--colorEnPrimario);
    margin-left: 1rem;
}

/*Media queries*/

@media (hover: none) {
    header {
      opacity: 1;
    }
  }
@media (max-width: 2100px) {
    html{
        font-size: 112.5%;
    }
}
@media (max-width: 2000px) {
    html{
        font-size: 106.25%;
    }
}
@media (max-width: 1900px) {
    html{
        font-size: 100%;
    }
}
@media (max-width: 1800px) {
    html{
        font-size: 93.75%;
    }
}
@media (max-width: 1700px) {
    html{
        font-size: 87.5%;
    }
}
@media (max-width: 1600px) {
    html{
        font-size: 81.25%;
    }
}
@media (max-width: 1500px) {
    html{
        font-size: 75%;
    }
}
@media (max-width: 1400px) {
    html{
        font-size: 68.75%;
    }
}
@media (max-width: 1200px) {
    html{
        font-size: 56.25%;
    }
}
@media (max-width: 1100px) {
    html{
        font-size: 50%;
    }
}
@media (max-width: 1000px) {
    html{
        font-size: 43.75%;
    }
}
@media (max-width: 900px) {
    html{
        font-size: 37.5%;
    }
}
@media (max-width: 800px) {
    html{
        font-size: 31.25%;
    }
}
@media (max-width: 700px) {
    html{
        font-size: 25%;
    }
}