@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
    }
}
@keyframes moveInDown {
    from{
        transform: translateY(-40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInUp {
    from{
        transform: translateY(40em);
    }
    to{
        transform: translateY(0em);
    }
}
@keyframes moveInLeft {
    from{
        transform: translate(40em);
    }
    to{
        transform: translate(0em);
    }
}
@keyframes moveInRight {
    from{
        transform: translate(-40em);
    }
    to{
        transform: translate(0em);
    }
}

/*Fin de animaciones*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation-name: fadeIn;
    animation-duration: 1s;
    scroll-behavior: smooth;
} 
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
:root{
    --colorPrimario: #383838;
    --colorPrimarioT: rgba(56, 56, 56, 0.9);

    --colorEnPrimario: #bcbcbc;
    --colorEnPrimarioT: rgba(188, 188, 188, 0.9);
    
    --colorSecundario: #424443;
    --colorSecundarioT: rgba(66, 68, 67, 0.9);

    --blanco: rgb(255, 255, 255);
}

/*Fin de estilos generales*/

main {
    width: 80vw;
    height: 80vh;
    background-color: var(--colorPrimario);
    color: var(--colorEnPrimario);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 2px solid var(--colorEnPrimario);
}
.left {
    background-color: var(--colorSecundario);
    color: var(--colorEnPrimario);
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
.left * {
    margin: 1rem auto;
    max-width: 90%;
    text-align: center;
}
.left img {
    width: 50%;
}
.left h1 {
    font-size: 1.5rem;
}
.left p {
    font-size: 1.1rem;
}

.right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--colorPrimario);
}
.right * {
    margin: 0 auto;
}
.first {
    width: 100%;
    height: 100%;
    background-color: var(--colorPrimario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s;
    font-size: 1.2rem;
}
.first:hover {
    cursor: pointer;
    font-size: 1.5rem;
}
.first * {
    margin: 1rem auto;
}
.second {
    display: none;
    width: 100%;
    height: 100%;
}
.second-top {
    width: 100%;
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid var(--colorEnPrimarioT);
}
.second-top * {
    margin: 0.5rem auto;
    min-height: 80%;
    max-height: 85%;
    transition: all 0.5s;
}
.second-top *:hover {
    min-height: 85%;
    max-height: 90%;
}
.second-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 85%;
    gap: 1rem;
}
.option {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.option:hover {
    border: 1px solid var(--colorEnPrimario);
}
.option * {
    margin: 0.5rem auto;
    text-align: center;
    color: var(--colorEnPrimario);
}
.option input {
    min-width: 2rem;
    min-height: 2rem;
    transition: all 0.5s;
}
.option input:hover {
    cursor: pointer;
    padding: 0.5rem;
    min-width: 2.3rem;
    min-height: 2.3rem;
}
.big {
    grid-row: 1 / span 2;
}
#history-btn {
    color: var(--colorPrimario);
    background-color: var(--colorEnPrimario);
    padding: 1.2rem;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.5s;
}
#history-btn:hover {
    cursor: pointer;
    padding: 1.4rem;
    font-size: 1.4rem;
}

/*Media queries*/

@media (hover: none) {
    header {
      opacity: 1;
    }
  }
@media (max-width: 2100px) {
    html{
        font-size: 112.5%;
    }
}
@media (max-width: 2000px) {
    html{
        font-size: 106.25%;
    }
}
@media (max-width: 1900px) {
    html{
        font-size: 100%;
    }
}
@media (max-width: 1800px) {
    html{
        font-size: 93.75%;
    }
}
@media (max-width: 1700px) {
    html{
        font-size: 87.5%;
    }
}
@media (max-width: 1600px) {
    html{
        font-size: 81.25%;
    }
}
@media (max-width: 1500px) {
    html{
        font-size: 75%;
    }
}
@media (max-width: 1400px) {
    html{
        font-size: 68.75%;
    }
}
@media (max-width: 1200px) {
    html{
        font-size: 56.25%;
    }
}
@media (max-width: 1100px) {
    html{
        font-size: 50%;
    }
}
@media (max-width: 1000px) {
    html{
        font-size: 43.75%;
    }
}
@media (max-width: 900px) {
    html{
        font-size: 37.5%;
    }
}
@media (max-width: 800px) {
    html{
        font-size: 31.25%;
    }
}
@media (max-width: 700px) {
    html{
        font-size: 25%;
    }
}

